.details { 
    display:grid; 
    grid-template-columns: 280px 1fr; 
    gap:1rem; align-items:start; 
}
.details img { 
    width:100%; 
    height:auto; 
    border-radius:12px;
 }
@media (max-width:700px){
     .details{ grid-template-columns:1fr; }
     }
.linkbtn{
    color:green;
}
